.userNameWrap {
  display: flex;

  align-items: center;
  gap: 0 7px;
}

.avatarListWrap {
  flex-grow: 1;
  width: 180px;
  position: relative;
  height: 32px;
  .avatarSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #4c9aff;
    border-radius: 3px;
    padding: 6px 8px 6px 6px;
    width: calc(100% - 14px);
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;

    &:hover .removeUserText {
      opacity: 1;
    }

    .avatar {
      margin-right: 7px;
    }

    .avatarInput {
      border: none;
      outline: none;
      width: 100%;
    }

    .avatarSelectWrap {
      display: flex;
      align-items: center;
    }

    .removeUserText {
      margin-top: -5px;
      opacity: 0;
      transition: opacity 0.3s ease;
      font-size: 26px;
      transform: rotate(45deg);
      font-weight: 700;
      color: rgba(0, 0, 0, 0.5);

      cursor: pointer;

      svg {
        color: #8993a4;
      }

      &:hover {
        color: #de350c;
      }
    }
  }

  .avatarList {
    padding: 7px 0;
    border-radius: 3px;
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25),
      0 0 1px rgba(9, 30, 66, 0.31);
    margin-top: -2px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% + 4px);
    margin-left: -2px;
    z-index: 1;
    max-height: 320px;
    overflow: auto;
    ul {
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 7px 10px;
        border-left: 2px solid transparent;
        cursor: pointer;

        &:hover {
          border-left: 2px solid #0052cc;
          background: #f5f6f8;
        }

        .avatarUser {
          margin-right: 10px;
        }
      }
    }
  }
}
